<!DOCTYPE html>
<html>
<head>
	<title>My Note</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images2/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts2/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts2/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor2/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor2/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css2/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css2/main.css">
<!--===============================================================================================-->
</head>
<body>
	{% for note in notels %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
					<span class="login100-form-title p-b-51">
					</span>

					
					<div class="card-body b2">
						{{ note.title }}
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="card-body">
						<p>{{ note.content }}</p>
						<span class="focus-input100"></span>
					</div>
					
	

					<div class="container-login100-form-btn m-t-17">
					<form action="{{ url_for('delete', deletenote = note.id, userid = note.notes_id) }}" method="post">
                    <button class="btn btn-danger">DELETE</button>
                </form>
					</div>

				</form>
			</div>
		</div>
	</div>
	
  {% endfor %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" action="{{ url_for('note', user_id = u_id) }}" method="post">
					<span class="login100-form-title p-b-51">
						Add Note
					</span>

					
					<div class="card-body b2" data-validate = "Title is required">
						<input class="form-group" type="text" name="title" placeholder="Title">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="card-body" data-validate = "Content is required">
						<textarea class="form-control" name="content" placeholder="Type Your Note" cols="30" rows="10"></textarea> 
						<span class="focus-input100"></span>
					</div>
					

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Add
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/vendor2/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/bootstrap/js/popper.js"></script>
	<script src="../static/vendor2/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor2/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js2/main.js"></script>

</body>
</html>